import(methods)
import(rlang)
import(R6)
import(parallel)
importFrom(stats,simulate)
export(wtd.Ecdf,wtd.loess.noiter,
       wtd.quantile,wtd.rank,wtd.table,
       wtd.var,wtd.sd,wtd.mean)


export(Workers,memoTree)

export(FModel,ModelSet)
exportClass(FModel,ModelSet)
export(nsubj, "nsubj<-", nocc, "nocc<-", maxocc, "maxocc<-",
       minocc, "minocc<-", nquad, "nquad<-", nmodels,
       get_subj, "get_subj<-", split_subj, add_subj, bind_subj,
       pvec, "pvec<-", lprob, mstep,
       drawInitial, probInit, drawData, evalEvidence, drawGrowth,
       advanceWeights, retreatWeights
       )
exportMethods(nsubj, "nsubj<-", nocc, "nocc<-", maxocc, "maxocc<-",
       minocc, "minocc<-", nquad, "nquad<-", get_subj, "get_subj<-",
       pvec, "pvec<-", lprob, mstep, nmodels,
       drawInitial, probInit, drawData, evalEvidence, drawGrowth,
       advanceWeights, retreatWeights
       )
S3method(nsubj,Panel_Data)
S3method("nsubj<-",Panel_Data)
S3method(nsubj,Quadrature)
S3method("nsubj<-",Quadrature)
S3method(nsubj,ModelSet)
S3method("nsubj<-",ModelSet)

S3method(nocc,Panel_Data)
S3method(nocc,Quadrature)
S3method("nocc<-",Quadrature)
S3method(nocc,ModelSet)
S3method("nocc<-",ModelSet)

S3method(maxocc,Panel_Data)
S3method(maxocc,Quadrature)
S3method("maxocc<-",Quadrature)
S3method(maxocc,ModelSet)
S3method("maxocc<-",ModelSet)

S3method(minocc,Panel_Data)
S3method(minocc,Quadrature)
S3method("minocc<-",Quadrature)
S3method(minocc,ModelSet)
S3method("minocc<-",ModelSet)

S3method(nquad,Quadrature)
S3method("nquad<-",Quadrature)

S3method(nmodels,ModelSet)

S3method(get_subj,Quadrature)
S3method("get_subj<-",Quadrature)

S3method(pvec,FModel)
S3method("pvec<-",FModel)
S3method(lprob,FModel)

S3method(mstep,FModel)
S3method(mstep,ModelSet)

S3method(drawInitial,Population)
S3method(probInit,Population)
S3method(drawData,Evidence)
S3method(evalEvidence,Evidence)
S3method(drawGrowth,Activities)
S3method(advanceWeights,ActivitiesD)
S3method(retreatWeights,ActivitiesD)
S3method(drawInitial,POMDP)
S3method(probInit,POMDP)
S3method(drawData,POMDP)
S3method(evalEvidence,POMDP)
S3method(drawGrowth,POMDP)
S3method(advanceWeights,POMDP)
S3method(retreatWeights,POMDP)

export(getTime, "getTime<-", getDT, "getDT<-", dname, "dname<-",
       "tname", "tname<-", wname, "wname<-")

S3method(dname,FModel)
S3method("dname<-",FModel)
S3method(tname,FModel)
S3method("tname<-",FModel)
S3method(wname,FModel)
S3method("wname<-",FModel)

S3method(getDT,ModelSet)
S3method("getDT<-",ModelSet)
S3method(dname,ModelSet)
S3method("dname<-",ModelSet)
S3method(tname,ModelSet)
S3method("tname<-",ModelSet)
S3method(wname,ModelSet)
S3method("wname<-",ModelSet)

S3method(getDT,POMDP)
S3method("getDT<-",POMDP)
S3method(dname,POMDP)
S3method("dname<-",POMDP)
S3method(tname,POMDP)
S3method("tname<-",POMDP)
S3method(wname,POMDP)
S3method("wname<-",POMDP)

S3method(getTime,Panel_Data)
S3method("getTime<-",Panel_Data)
S3method(getDT,Panel_Data)
S3method("getDT<-",Panel_Data)
S3method(dname,Panel_Data)
S3method("dname<-",Panel_Data)

S3method("all.equal",Panmat)



exportClass(Panmat, Panel_Frame, Panel_Data)
export(Panel_Data, Panel_Frame, Panmat)
export(panmat, mat, "mat<-", as.Panmat,
       panel_frame, as_longform,
       time2occ, panel_data, long2panel)
exportMethods(as.Panmat,
              "[", "[<-",as_longform, diff, cumsum, names)

export(Quadrature, FixedQuad, ParticleQuad, BWQuad)
exportClass(Quadrature)
export(fixedQuad, particleQuad, BWQuad)

export(PopulationModel, NormalPop, CategoricalPop, Population)
exportClass(Population)

export(GrowthModel, BrownianGrowth, BrownianGrowth2, Activities)
exportClass(Activities)

export(TransitionModel, UpDownGrowth, ActivitiesD)
exportClass(ActivitiesD)
export(expLambdaT)

export(EvidenceModel, GradedResponse, NormalScore, Evidence)
exportClass(Evidence)
export(logit, invlogit, cuts2probs)

export(POMDP)
exportClass(POMDP)
export(longform)

export(simulate.POMDP,particleFilter,bwFilter,qFilter)
S3method(simulate,POMDP)

export(squareWindow,linearWindow,exponentialWindow,gaussianWindow,
       parzenWindow,welchWindow,sineWindow,cosineSumWindow,
       tukeyWindow,plankWindow
       )
export(HannConstants,HammingConstants,BlackmanConsts,
       BlackmanExact,NuttallConstants,
       BlackmanNuttallConstants,
       BlackmanHarrisConstants,FlattopConstants)


export(summaryq, summaryqq)

export(bySubjPlot, byTimePlot, methodTimeGadget, biasDisplayGadget)



