import(methods)
import(rlang)
import(R6)
import(parallel)
importFrom(Hmisc,wtd.Ecdf,wtd.loess.noiter,
           wtd.quantile,wtd.rank,wtd.table,
           wtd.var,wtd.mean)
importFrom(stats,simulate)
export(wtd.Ecdf,wtd.loess.noiter,
       wtd.quantile,wtd.rank,wtd.table,
       wtd.var,wtd.mean)


export(Workers)

exportClass(Panmat, Panel_Frame, Panel_Data)
export(Panel_Data)
export(panmat, mat, "mat<-", as.Panmat, nsubj, "nsubj<-",
       nocc, "nocc<-", maxocc, "maxocc<-", minocc, "minocc<-",
       panel_frame, as_longform,
       time2occ, panel_data, long2panel)

exportMethods(as.Panmat, nsubj, "nsubj<-", nocc, "nocc<-",
              maxocc, "maxocc<-", minocc, "minocc<-",
              "[", "[<-",as_longform, diff, cumsum, names)


export(squareWindow,linearWindow,exponentialWindow,gaussianWindow,
       parzenWindow,welchWindow,sineWindow,cosineSumWindow,
       tukeyWindow,plankWindow
       )
export(HannConstants,HammingConstants,BlackmanConsts,
       BlackmanExact,NuttallConstants,
       BlackmanNuttallConstants,
       BlackmanHarrisConstants,FlattopConstants)
