import(methods)
import(rlang)
import(R6)
import(parallel)
importFrom(Hmisc,wtd.Ecdf,wtd.loess.noiter,
           wtd.quantile,wtd.rank,wtd.table,
           wtd.var,wtd.mean)
importFrom(stats,simulate)
export(wtd.Ecdf,wtd.loess.noiter,
       wtd.quantile,wtd.rank,wtd.table,
       wtd.var,wtd.mean)


export(Workers,memoTree)

export(FModel,ModelSet)
exportClass(FModel,ModelSet)
export(nsubj, "nsubj<-", nocc, "nocc<-", maxocc, "maxocc<-",
       minocc, "minocc<-", nquad, "nquad<-", get_subj, "get_subj<-",
       split_subj, add_subj, bind_subj, pvec, "pvec<-", lprob, mstep)
exportMethods(nsubj, "nsubj<-", nocc, "nocc<-", maxocc, "maxocc<-",
       minocc, "minocc<-", nquad, "nquad<-", get_subj, "get_subj<-",
       pvec, "pvec<-", lprob, mstep

)
exportClass(Panmat, Panel_Frame, Panel_Data)
export(Panel_Data, Panel_Frame, Panmat)
export(panmat, mat, "mat<-", as.Panmat,
       panel_frame, as_longform,
       time2occ, panel_data, long2panel)
exportMethods(as.Panmat,
              "[", "[<-",as_longform, diff, cumsum, names)

export(Quadrature, FixedQuad, ParticleQuad, BWQuad)
exportClass(Quadrature)
export(fixedQuad, particleQuad, BWQuad)

export(PopulationModel, NormalPop, CategoricalPop, Population)
exportClass(Population)

export(GrowthModel, BrownianGrowth, SpurtGrowth, Activities)
exportClass(Activities)

export(TransitionModel, UpDownGrowth, ActivitiesD)
export(expLambdaT)

export(EvidenceModel, GradedResponse, NormalScore, Evidence)
exportClass(Evidence)
export(logit, invlogit, cuts2probs)

export(HMM)
exportClass(HMM)
export(drawInit, drawObs, drawNext, llike)
export(longform)

export(simulate.HMM,particleFilter.HMM,bwFilter.HMM,qFilter.HMM)
S3method(simulate,HMM)

export(squareWindow,linearWindow,exponentialWindow,gaussianWindow,
       parzenWindow,welchWindow,sineWindow,cosineSumWindow,
       tukeyWindow,plankWindow
       )
export(HannConstants,HammingConstants,BlackmanConsts,
       BlackmanExact,NuttallConstants,
       BlackmanNuttallConstants,
       BlackmanHarrisConstants,FlattopConstants)


export(summaryq, summaryqq, summarylowess)

export(bySubjPlot, byTimePlot, methodTimeGadget, biasDisplayGadget)



